* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.container,
.content,
.side-content,
.main-content {
  display: flex;
}

.container {
  justify-content: start;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: auto;
}

.content {
  flex-direction: row;
  justify-content: space-evenly;
  height: 100vh;
  width: auto;
}

.main-content {
  justify-content: start;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  width: 50vw;
}

.side-content {
  justify-content: center;
  width: 25vw;
}
